<style>
  .container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: italic;
  }

  .login,
  .institution {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card {
    background-color: #fff;
    border-radius: 60px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #76abae;
  }

  .card input[type="email"],
  .card input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }

  .card button {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  .card button:hover {
    background-color: #0056b3;
  }

  .login {
    background-color: #76abae;
    border-radius: 0 60px 60px 0;
  }
  .institution {
    background-color: #eeeeee;
    width: 1rem;
    font-size: 40px;
    border-radius: 60px 0 0 60px;
  }
</style>

<div class="container">
  <div class="institution">
    <h1>Centro Paulo Souzo</h1>
  </div>
  <div class="login">
    <div class="card">
      <h2>Login</h2>
      <form>
        <input type="email" placeholder="Email" required />
        <input type="password" placeholder="Senha" required />
        <button type="submit">Entrar</button>
      </form>
    </div>
  </div>
</div>
