<style>
  .container {
    width: 100%;
    height: 85vh;
    display: flex;
    flex-direction: row;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10;
    font-style: italic;
    
  }

  .login,
  .institution {
    flex: 1;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .card {
    background-color: #fff;
    border-radius: 60px;
    padding: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    background-color: #76abae;
  }
  .card form{
    display: flex;
      flex-direction: column;
      justify-content: center;
  }

  .card input[type="email"],
  .card input[type="password"] {
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 15px;
    box-sizing: border-box;
    background-color: #eeeeee ;
  }

  .card button {
    width: 60%;
    padding: 20px;
    background-color: #31363f;
    color: #eeeeee;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 1.5rem;
    font-weight: 600;
  }

  .card button:hover {
    opacity: 90%;
  }

  .login {
    background-color: #76abae;
    border-radius: 0 60px 60px 0;
  }
  .institution {
    background-color: #eeeeee;
    font-size: 6rem;
    border-radius: 60px 0 0 60px;
    line-height: 1;
    padding-left: 20px;
  }
.title{
  font-size: 4rem;
  text-align: left;
  color:#eeeeee;

  
}
.subtitle{
  font-size: 1.2rem;
  text-align: left;
  color:#eeeeee

}


</style>

<div class="container">
  <div class="institution">
   <div>Centro</div>
   <div>Paulo</div>
   <div>Souzo</div>
    
  </div>
  <div class="login">
    <div class="card">
      <div class="title">Login</div>
      <form class="subtitle">
        <div>Número de Registro</div>
        <input type="email" placeholder="" required/>
        <div>Senha</div>
        <input type="password" placeholder="" required />
      </form>        
      <button type="submit">Entrar</button>
    </div>
  </div>
</div>
