<div class="container">
    <div class="header">
        <div class="title">
            <h1>
                Laboratório 1
            </h1>
                <img src="../../../../../../../assets/Icone computador 1 svg.png">
        </div>
        <div class="calendario">
            <h1>Abril</h1>
        </div>
    </div>
    <div class="">
        <div class="horario1">
            <button class="button1">7:40</button>
        </div>
        <div class="horarios">
            <button class="button">9:30</button>
        </div>
        <div class="horarios">
            <button class="button">11:20</button>
        </div> 
    </div>
    <div class="">

    </div>
</div>

