<div class="calendar">
    <div class="header">
        <h1 class="title">Laboratório {{id}}</h1>
        <div class="month">
            <fa-icon [icon]="calendario" class="icon"></fa-icon>
            <select>
                <option *ngFor="let mes of monthAno" [value]="mes">{{ mes }}</option>
            </select>
        </div>
    </div>
    <section class="list">
        <div>
           <div class="line"></div>
        <div class="day">
            <p>Seg</p>
            <p>01/04</p>
        </div>  
        </div>
       
    </section>

    <footer>
        <div class="deferido"></div>
            <p>deferido</p>
        <div class="livre"></div>
            <p>Livre</p> 
        <div class="porvoce"></div>
            <p>Deferido por você</p>
    </footer>

</div>