<div class="navbar">
  <div class="content">
    <div class="insideCont btnBackDiv">
      <div class="divImg">
        <img
          src="../../../../../assets/images/back-button.svg"
          alt="buttonBack"
        />
      </div>
    </div>

    <div class="insideCont options">
      <div class="divImg">
        <img src="../../../../../assets/images/support-12.svg" alt="suporte" />
      </div>

      <div class="divImg">
        <img src="../../../../../assets/images/Post_Icon.svg" alt="apelar" />
      </div>
    </div>
  </div>
</div>
