<div class="lab">
  <div class="bord">
    <h1 class="title">Apelar</h1>
    <h3 class="subtitle subtitle-left">
      Selecione a data que você quer apelar:
    </h3>

    <div class="box date">
      <div class="align year">
        <p>2024</p>
      </div>
      <div class="align months">
        <p>&lt; Abril &gt;</p>
      </div>
      <div class="align select-date">
        <div class="align box-day">
          <div>
            <h4>SEG</h4>
            <h4>05/04</h4>
          </div>
        </div>
        <div class="align box-day">
          <div>
            <h4>SEX</h4>
            <h4>17/04</h4>
          </div>
        </div>
        <div class="align box-day">
          <div>
            <h4>SEX</h4>
            <h4>29/05</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="bord right-side">
    <h3 class="subtitle subtitle-right">Escreva o motivo do apelo:</h3>

    <textarea class="box"></textarea>

    <button>Enviar</button>
  </div>
</div>
