.computers {
    display: inline-block;
    margin-left: 20vh;
    margin-bottom: 6vh;
    text-align: center;
    background-color: #76ABAE;
    border-radius: 10px;
}

.computers img {
    display: block;
    width: 140px;
    height: 120px;
}

.computers img:hover {
    filter: brightness(150%);
}



@media (max-width: 800px) {
    .computers {
        width: calc(33.33% - 20px);
    }
}

.divider {
    position: absolute;
    right: 0;
    width: 80%;
    height: 15px;
    background-color: #76ABAE;
}

.lab {
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-weight: 457;
    font-style: normal;
    position: relative;
}

.title {
    margin-left: 5em;
    color: #76ABAE;
    text-align: start;
    font-weight: 400;
    font-size: 40px;
    font-style: italic;
}

.subtitle {
    font-weight: 400;
    font-size: 25px;
    text-align: center;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: #31363F;
    margin-bottom: 30px;
    margin-left: 1em;
}