<div class="home">
  <div class="leftSide">
    <div class="user">
      <div class="divImg">
        <img src="../../../../assets/usericon.jpg" alt="" class="userPic" />
      </div>

      <div class="userInfos">
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="box"></div>
      </div>
    </div>
    <div class="paginas">
      <div class="lista">
        <div class="box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="box"></div>
        <div (click)="next()" class="sub box"></div>
        <div (click)="next()" class="sub box"></div>
      </div>
    </div>
  </div>
  <div class="rightSide">
    <div class="borda">
      <div class="quadroAvisos">
        <div class="danger">
          <fa-icon [icon]="aviso" size="3x"></fa-icon>
          <p>AVISOS</p>
        </div>
      </div>
    </div>
  </div>
</div>
