<div class="home">
  <div class="profile">
    <div class="user">
      <img class="userpic" src="../../../../assets/usericon.png" width="80%" height="80%">
      <div class="cad">
      <p class="infos">Nome: Maria Margarida</p>
      <p class="infos">Área: Matemática</p>
      <p class="infos">Ano: 2024</p>
      </div>
   </div>
  <div>
    <p class="menus">Infos para serem preenchidas posteriormente.</p>
    <p class="menus">Infos para serem preenchidas posteriormente.</p>
  </div>
</div>
<div class="warnings">

</div>
</div>

